@model IEnumerable<Product>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a asp-action="AddOrEdit" class="btn btn-primary mb-3">Add</a>

            <h4 class="card-title">Products</h4>
            <br />
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th> Name</th>
                            <th>Image</th>
                            <th>Product color</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Special Tag</th>
                            <th>Available</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <td>@item.Name</td>
                                <td>
                                    <img src="@string.Format("/uploads/{0}",item.Image) " class="rounded-circle" width="50" height="50">
                                </td>
                                <td>@item.ProductColor</td>
                                <td>@item.Price</td>
                                <td>@item.Category.Name</td>
                                <td>@item.SpecialTag.Name</td>
                                <td> @if(item.IsAvailable == true)
                                    {
                                        <input type="checkbox" checked >
                                    }

                                    else
                                    {
                                          <input type="checkbox"  >}
                                   </td>
                                <td>
                                    <a asp-action="AddOrEdit" asp-route-Id="@item.Id" class="btn btn-primary">Edit</a>
                                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
                                    <a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-success">Details</a>
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
</div>

