@model List<Product>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Products</h4>
            <br />
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                          
                            <th> Name</th>
                            <th>Image</th>
                            <th>Product color</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Special Tag</th>
                            <th>Available</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                @* <td>@item.Name</td> *@
                                <td>
                                    <img src="@string.Format("/uploads/{0}",item.Image) " class="rounded-circle" width="50" height="50">
                                </td>
                                <td>@item.ProductColor</td>
                                <td>@item.Price</td>
                                <td>@item.Category.Name</td>
                                <td>@item.SpecialTag.Name</td>
                                <td>
                                    @if (item.IsAvailable == true)
                                    {
                                        <input type="checkbox" checked>
                                    }

                                    else
                                    {
                                        <input type="checkbox">
                                    }
                                </td>
                                <td>
                                    
                                    <a asp-action="Remove" asp-route-Id="@item.Id" class="btn btn-danger">Remove</a>
                                   
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>
                            <div class="row">
                                <div class="col-6">
                                    <a asp-action="Index" class="btn btn-success">Back to Home</a>
                                </div>
                                <div class="col-6 text-end text-xl-end ">
                                    <h6>Total Amount:</h6>

                                    <h6>Grant Total:@Model.Sum(c=>c.Price)</h6>
                                    <a asp-area="Customer" asp-controller="Order" asp-action="Checkout" class="btn btn-info">checkout</a>
                                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>



